numpy==1.24.2
pandas==1.5.3
scipy==1.11.4
scikit-learn==1.3.2

torch==2.1.2
transformers==4.36.2
datasets==2.16.1
accelerate==0.25.0
peft

POT==0.9.5
PyYAML
codecarbon==3.0.4
tqdm==4.66.1

matplotlib==3.8.2
seaborn==0.13.2